<h1>Disney-elokuvasovellus</h1>
{% if session.user_id %}
<p>
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a> | <a href="/user">Omat tiedot</a>
<p>
Järjestä:  <a href="/order/1">Uusimmasta vanhimpaani</a> | <a href="/">Vanhimmasta uusimpaaan</a> | <a href="/order/2">Arvosanojen keskiarvo (arvostellut)</a>
<p>
<form action="/search" method="GET">
Haku: <input type="text" name="query">
<p>
<input type="submit" value="Lähetä">
</form>
<hr>
{% for movie in movies %}
<i>Nimi:</i> {{ movie[1] }}
<p>
<i>Vuosi:</i> {{ movie[2] }}
<p>
<i>Kesto (min):</i> {{ movie[3] }}
<p>
<a href="/film/{{ movie[0] }}">Näytä arvostelut</a>
<hr>
{% endfor %}
{% else %}
<p>
<a href="/login">Kirjaudu sisään</a>
<p>
Järjestä:  <a href="/order/1">Uusimmasta vanhimpaani</a> | <a href="/">Vanhimmasta uusimpaaan</a> | <a href="/order/2">Arvosanojen keskiarvo (arvostellut)</a>
<hr>
{% for movie in movies %}
<i>Nimi:</i> {{ movie[1] }}
<p>
<i>Vuosi:</i> {{ movie[2] }}
<p>
<i>Kesto (min):</i> {{ movie[3] }}
<hr>
{% endfor %}
{% endif %}
