<head>
<style>
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
</style>
</head>

<body>
<form action="/login" method="post">
<h2>Kirjaudu sisään:</h2>
<hr>
Tunnus: <input type="text" name="username" value={{username}}>
<p>
Salasana: <input type="password" name="password" value={{password}}>
<p>
<input type="submit" value="Kirjaudu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
{% if error %}
{{ message }}
<p>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% else %}
<p>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{% endif %}
<p>
<a href="/">Etusivulle</a>
</body>
