<head>
<style>
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
</style>
</head>

<body>
<form action="/send_update/{{ id }}" method="POST">
<h2>Muokkaa tietojasi:</h2>
<hr>
Ikä: 
<textarea name="age" rows="1" cols="3">{{age}}</textarea>
<p>
Lempielokuva: 
<textarea name="content" rows="1" cols="30">{{content}}</textarea>
<p>
{% if error %}
{{ message }}
<p>
{% endif %}
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
<a href="/">Etusivulle</a>
</body>
