<form action="/info/{{ id }}" method="POST">
{% if info %}
<i>Käyttäjänimi:</i> {{ info[0][0] }}
<p>
<i>Ikä:</i> {{ info[0][1] }}
<p>
<i>Lempielokuva:</i> {{ info[0][2] }}
<p>
<a href="/update_info/{{ id }}">Muokkaa tietoja</a>
<p>
{% else %}
Lisää tietoja itsestäsi: <br>
<p>
Ikä: 
<textarea name="age" rows="1" cols="3">{{age}}</textarea>
<p>
Lempielokuva: 
<textarea name="content" rows="1" cols="30">{{content}}</textarea>
<p>
{% if message %}
{{ message }}
<p>
{% endif %}
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
{% endif %}
<a href="/">Etusivulle</a>
